.BattleGround {
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
}

.gameStatus {
	font-weight: bolder;
	margin-bottom: 0px;
}

/* Ship Display Styling */
.shipDisplay {
	box-sizing: border-box;
	margin-top: 10px;
	border: dashed black 1px;
	padding: 5px;

	width: 100%;
}

.shipDisplay-status {
	background-color: white;
	color: black;
	min-width: 200px;
	padding: 0 10px 10px 10px;
	font-weight: bolder;
}

.shipDisplay p {
	margin: 0;
	font-weight: bolder;
}

.shipDisplay-sizeDisplay {
	display: flex;
	justify-content: center;
}

.shipDisplay-description {
	text-align: center;
}

.shipDisplay-sizeDisplay-sizeSquare {
	width: 30px;
	height: 30px;
	padding-top: 5px;

	border: solid black 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}
