.BattleGround {
	text-align: center;
	display: flex;
	width: 100vw;
}

/* playerStyling */
.playerContainer {
	flex: 1;
}

.shipDisplay p {
	margin: 0;
}

.sizeDisplay {
	display: flex;
	justify-content: center;
}

.sizeSquare {
	width: 10px;
	height: 10px;

	background-color: red;
	border: solid black 2px;
}

/* ComputerContainer Styling */
.computerContainer {
	flex: 1;
}

/* Grid Styling */
.col {
	box-sizing: border-box;
	width: 75px;
	border: solid black 1px;
}

.row {
	display: flex;
}
