/* playerStyling */
.battleGround-battleBoard {
	display: flex;
	gap: 20px;
}

.playerNames {
	font-weight: bolder;
}

/* Grid Styling */
.col {
	box-sizing: border-box;
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	min-height: 30px;
	border: solid white 1px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
}

.hit {
	color: red;
}
