/* Player + Computer Container */
.battleGround-battleBoard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.playerNames {
	font-weight: bolder;
}

/* Grid Styling */
.col {
	box-sizing: border-box;
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	min-height: 30px;
	border: solid black 1px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.col:hover {
	transition: 0.35s ease-in-out;
	background: grey;
}

.row {
	display: flex;
}

.hit {
	color: red;
}
